<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<body>

	<div th:fragment="content" id="mainDetail" >
		<h1>Detail</h1>

		<th:block th:if="${product.id !=null}">
			<div th:each="detail, status : ${product.productDetails}" >
				<div class="form-inline" style="display: flex; margin:5px" th:id="'divDetail'+${status.index}">
					<label>Name :</label>
					<input type="text" style="margin-right:5px" name="nameDetail">
					<label >Value :</label>
					<input type="text" name="valueDetail">
				</div>
			</div>
		</th:block>

		<th:block th:if="${product.id == null}">
			<div class="form-inline" style="display: flex; margin:5px" id="divDetail0">
				<label>Name :</label>
				<input type="text" style="margin-right:5px" name="nameDetail">
				<label >Value :</label>
				<input type="text" name="valueDetail">
			</div>
		</th:block>



	</div>

</body>

</html>